*{
    user-select: none;
}

:root{
    --Bright_orange: hsl(31, 77%, 52%);
    --Dark_cyan: hsl(184, 100%, 22%);
    --Very_dark_cyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
}
body{
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    overflow: hidden;
}
.box{
    padding: 40px;
}

.box1{
    background: var(--Bright_orange);
}
.box1 a{
    color: var(--Bright_orange);
}

.box2{
    background: var(--Dark_cyan);
}
.box2 a{
    color: var(--Dark_cyan);
}

.box3{
    background: var(--Very_dark_cyan);
}
.box3 a{
    color: var(--Very_dark_cyan);
}

.box h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 30px;
}
.box p{
    color: var(--white);
    line-height: 1.6;
    font-weight: 400;
}
.box a{
    display: inline-block;
    text-decoration: none;
    background-color:  hsl(0, 0%, 95%);
    padding: 13px 27px;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    margin-top: 60px;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all  0.4s ease-in-out;
    -webkit-transition: all  0.4s ease-in-out;
    -moz-transition: all  0.4s ease-in-out;
    -ms-transition: all  0.4s ease-in-out;
    -o-transition: all  0.4s ease-in-out;
}
.box a:hover{
    color : hsl(0, 0%, 95%);
    background-color: transparent;
}
@media only screen and (max-width: 768px){
    .wrapper{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 425px){
    .wrapper{
        margin: 1rem;
    }
}